.vs/
bin/
obj/
publish/
release/
Installer/Output/
platform-tools/*
!platform-tools/README.md
!platform-tools/NOTICE.txt
scrcpy/win-x64/*
scrcpy/win-x86/*
!scrcpy/README.md
*.pfx
*.p12
*.pvk
*.key
*.snk
*.cer
*.log
*.user
LICENSES/dotnet-THIRD-PARTY-NOTICES.txt
